/* -- horder steps section */
.order-steps {
    scroll-snap-align: start;
    padding: 50px 20px;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    background-color: #fbfdfd;
    border-radius: 50px 50px 0 0;
}

.steps-container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    gap: 15px;
    font-size: 1.2rem;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    flex-grow: 280px;
}

.head-steps {
    text-align: center;
    display: block;
}

.head-steps h2 {
    font-weight: 800;
    position: relative;
}

.head-steps h2::after {
    text-align: center;
    position: absolute;
    content: "";
    top: 100%;
    right: 0%;
    width: 40%;
    height: 3px;
    border-radius: 50px;
    background: var(--orange-second);
}

.step img {
    width: 280px;
}



/* -----------------  about section------------------ */
.about {
    min-height: 85vh;
    min-height: 85dvh;
    display: flex;
    align-items: center;
    padding: 50px 20px;
    gap: 25px;
}

.image-about {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.about-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* align-items: center; */
    justify-content: center;
}

.about-title {
    position: relative;
}

.about-title h2 {
    color: var(--green);
    font-size: 1.8rem;
    font-weight: 700;
}

.about-title h2::after {
    text-align: center;
    position: absolute;
    content: "";
    top: 100%;
    right: 70%;
    width: 17%;
    height: 3px;
    border-radius: 50px;
    background: var(--orange-second);
}

.about-description p {
    padding: 0 60px 0 0;
    font-size: 1.3rem;
}

.image-about img {
    width: 90%;
}

/* -+---------- diet section --------- */
.diet {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    max-width: 1200px;
    padding: 50px 20px;
    min-height: 90vh;
    min-height: 90dvh;
}

.diet-container {
    width: 100%;
    display: flex;
    gap: 25px;
    max-width: 900px;
}

.diet-container img {
    width: 100%;
    object-fit: cover;
}

.diet-left {
    flex: 1;
    display: grid;
    flex-flow: row;
    grid-auto-flow: column;
    gap: 25px;
    max-width: 980px;
    width: 900px;
}
.diet-left ::-webkit-scrollbar{
    display: none;
}

.Breakfasts {
    flex: 1;
    border-radius: 25px;
    background-image: url(https://images.unsplash.com/photo-1664192579009-07ded37d50e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 265px;
    height: 315px;
}

.Lunches {
    flex: 1;
    border-radius: 25px;
    background-image: url(https://images.unsplash.com/photo-1569419927926-8d097e621683?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 265px;
    height: 315px;
}

.Dinners {
    flex: 1;
    border-radius: 25px;
    background-image: url(https://images.unsplash.com/photo-1586511925558-a4c6376fe65f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 265px;
    height: 315px;
}

.Snacks {
    flex: 1;
    border-radius: 25px;
    background-image: url(https://images.unsplash.com/photo-1601912262364-3a35aa0d9399?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 265px;
    height: 315px;
}
.diet-title h2 {
    text-align: center;
    font-weight: 800;
    position: relative;
}

.diet-title h2::after {
    text-align: center;
    position: absolute;
    content: "";
    top: 100%;
    right: 40%;
    width: 10%;
    height: 3px;
    border-radius: 50px;
    background: var(--orange-second);
}


.diet-text {
    color: #fff;
    padding: 20px 25px;
    bottom: 0px;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: #141414;
    background: linear-gradient(0deg, #141414bf 0%, #2d2a2a00 100%);
}

.diet-text span {
    color: #fff;
    font-size: 1rem;
    position: relative;
    padding: 0.5rem  ;
    background: var(--orange-second);
    border-radius: 10px;

}

.diet-left span ::after {
    text-align: center;
    position: absolute;
    content: "";
    top: 100%;
    right: 0%;
}
/* ---------------------- testimonial ---------------- */

.outerdiv
{
	width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    /* background: #0e2847; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fbfdfd;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1.5rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b41;
    color: white;
}
.div1
{
	background: #3f773f;
    grid-column: 1/3;
    grid-row: 1/2;
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: #e6ffe3;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}


@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}

/* -------------------------------  responsive --------------------------- */



@media only screen and (max-width: 780px) {
    .step img {
        width: 222px;
    }

    .about {
        flex-direction: column;
    }

    .image-about img {
        width: 85%;
    }

    .about-description {
        align-items: center;
        text-align: center;
    }

    .about-description p {
        padding: 0;
    }
    .diet-left{
        overflow-x: scroll;
    }
    .diet-left::-webkit-scrollbar{
        display: none;
    }
}