/* .exerience{
    height: 90dvh;
    overflow-y: scroll;
    scroll-snap-type:  y mandatory;
} */

/* .main-container {
    flex-direction: column;
} */
.about-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--font-color);
}

.about-section h2 {
  color: var(--font-color);
  margin-bottom: 1.2rem;
}

.infos,
.presentation {
  flex: 1;
}

.title {
  font-weight: 400;
  margin: 1rem 0 2rem 0;
  border-bottom: 1px solid #33333333;
  text-align: center;
  color: var(--font-color);
}

/* times line */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 1rem auto;
}

.timeline {
  color: #313e4f;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: var(--blur-bg);
  box-shadow: 9px 9px 12px var(--rightShadow), -9px -9px 12px var(--leftShadow);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 5px;
}

/* Container around content */
.container {
  padding: 10px 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  border-radius: 100%;
  background-color: var(--blur-bg);
  box-shadow: 9px 9px 12px var(--rightShadow), -9px -9px 12px var(--leftShadow);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(148, 143, 143);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
  border-radius: 45px;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  border-radius: 20px;
  color: var(--font-color);
  background-color: var(--blur-bg);
  box-shadow: 11px 11px 15px var(--rightShadow), -11px -11px 15px var(--leftShadow);
}




@media screen and (max-width: 600px) {

  .timeline::after {
    left: 20px;
  }

  .content {
    padding: 20px 18px;
    border-radius: 10px;
  }


  .container {
    width: 95%;
    padding-left: 55px;
    padding-right: 0px;
  }



  .container::before {
    left: 50px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }


  .left::after,
  .right::after {
    left: 8px;
  }


  .right {
    left: 0%;
  }
}

@media only screen and (max-width: 900px) {
  .about-section {
    flex-direction: column;
    gap: 25px;
  }

  .presentation {
    padding: 0 20px 10px;
  }
}