
<body>
    <!-- <header>
        <div class="nav">
            <div class="logo">
                <img src="../assets/images/JEaLiFe·Pictures.jpg" alt="">
            </div>
            <div class="links-container container-flex space-between">
                <a href="../index.html" class="txt-link nav-link">Accueil</a>
                <a href="#" class="txt-link nav-link">Réalisations</a>
                <a href="#" class="txt-link nav-link">A propos</a>
            </div>
        </div>
    </header> -->
        <div class="main-container" style="flex-direction: column;">
            <div class="about-section infos-section blur " data-aos="zoom-in-up" data-aos-delay="300"
            data-aos-duration="800" data-aos-easing="ease-in-out">
                <div class="infos  container-flex-column">
                    <img class="me" src="../assets/images/JEaLiFe·.jpg" width="185px" height="185px" alt="jean Guylane Memiaghe">
                    <div class="name">
                        <h1>JEaLiFe</h1>
                    </div>
                    <div class="icons flex gap">
                        <a class="txt-link" href="https://github.com/jealife" target="_blank"
                            rel="noopener noreferrer">
                            <i class='bx bxl-github'></i></a>
                        <a class="txt-link" href="https://www.instagram.com/jealife_pictures/" target="_blank"
                            rel="noopener noreferrer">
                            <i class='bx bxl-instagram'></i>
                        </a>
                        <a class="txt-link"
                            href="mailto:jealife.pictures@gmail.com"
                            target="_blank" rel="noopener noreferrer">
                            <i class='bx bx-envelope'></i>
                        </a>
                    </div>


                    <div class="btn-cv">
                        <a href="../assets/images/JEaLiFe·.jpg"  download target="_blank" rel="noopener noreferrer"
                            class="txt-link">Télécharger mon CV
                        </a>
                    </div>
                </div>
                <div class="presentation">
                    <h2 class="txt-link">
                        A propos de moi
                    </h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid repellat, reprehenderit molestias necessitatibus natus ipsam magni a beatae quo veritatis temporibus mollitia magnam alias repudiandae, atque nam ducimus voluptates aspernatur iusto maxime! Molestiae, culpa consectetur magni earum odit, hic corrupti animi saepe nulla ab est sunt ex ipsum modi aut!
                    </p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus itaque tempora quod? At, accusamus corrupti?</p>
                </div>

            </div>
            <!-- Section compétences -->
            <div class=" blur">
                <div class="skills-bar-title">
                    <h2 class="title txt-link">Compétences</h2>
                </div>
                <div class="skills">
                    <div class="card flex  two" data-aos="zoom-in-up" data-aos-delay="200"
                        data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="top-card">
                            <div class="icon">
                                <i class='bx bx-code-curly'></i>
                            </div>
                            <div class="card-title">
                                <h2 class="uppercase">Web</h2>
                            </div>
                            <div class="card-description">

                                <div class="skills-level-web">
                                    <div class="progress-container">
                                        <p>HTML</p>
                                        <div class="progress-bar">
                                            <span style="width: 65%"></span>
                                        </div>
                                    </div>
                                    <div class="progress-container">
                                        <p>CSS</p>
                                        <div class="progress-bar">
                                            <span style="width: 65%"></span>
                                        </div>
                                    </div>
                                    <div class="progress-container">
                                        <p>JAVA</p>
                                        <div class="progress-bar">
                                            <span style="width: 30%"></span>
                                        </div>
                                    </div>
                                    <div class="progress-container">
                                        <p>PHP</p>
                                        <div class="progress-bar">
                                            <span style="width: 15%"></span>
                                        </div>
                                    </div>
                                    <div class="progress-container">
                                        <p>DART</p>
                                        <div class="progress-bar">
                                            <span style="width: 25%"></span>
                                        </div>
                                    </div>
                                    <div class="progress-container">
                                        <p>JS</p>
                                        <div class="progress-bar">
                                            <span style="width: 20%"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="card flex flex-column" data-aos="zoom-in-up" data-aos-delay="300"
                        data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="top-card">
                            <div class="icon">
                                <i class='bx bxs-camera'></i>
                            </div>

                            <div class="card-title">
                                <h2 class="uppercase">Photography</h2>
                            </div>

                            <div class="card-description">
                                <div class="skills-level-photo">
                                    <div class="progress-container">
                                        <p>Adobe Express</p>
                                        <div class="progress-bar">
                                            <span style="width: 65%"></span>
                                        </div>
                                    </div>
                                    <div class="progress-container">
                                        <p>Photoshop</p>
                                        <div class="progress-bar">
                                            <span style="width: 65%"></span>
                                        </div>
                                    </div>
                                    <div class="progress-container">
                                        <p>Lightroom</p>
                                        <div class="progress-bar">
                                            <span style="width: 30%"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- experience section -->
            <div class="exerience blur">
                <div class="max experience">
                    <h2 class="title txt-link">
                        Exprériences
                    </h2>
                    <div class="timeline">
                        <div class="container left" data-aos="zoom-in-left" data-aos-delay="300"
                        data-aos-duration="800" data-aos-easing="ease-in-out">
                          <div class="content" >
                            <h2>2023</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                          </div>
                        </div>
                        <div class="container right" data-aos="zoom-in-right" data-aos-delay="300"
                        data-aos-duration="800" data-aos-easing="ease-in-out">
                          <div class="content">
                            <h2>2022</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                          </div>
                        </div>
                        <div class="container left" data-aos="zoom-in-left" data-aos-delay="300"
                        data-aos-duration="800" data-aos-easing="ease-in-out">
                            <div class="content" >
                              <h2>2023</h2>
                              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                            </div>
                          </div>
                          <div class="container right"data-aos="zoom-in-right" data-aos-delay="300"
                          data-aos-duration="800" data-aos-easing="ease-in-out">
                            <div class="content"  >
                              <h2>2022</h2>
                              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                            </div>
                          </div>
                        </div>
                     </div>
                      
                </div>
            </div>
        </div>

   
</body>
</html>