
    <div class="infos-section blur infos-section-home" id="Accueil" data-aos="zoom-in-up" data-aos-delay="100"
        data-aos-duration="800" data-aos-easing="ease-in-out" >
        <div class="infos  container-flex-column">
            <img class="me" src="assets/images/JEaLiFe·.jpg" width="185px"
                height="185px" alt="jean Guylane Memiaghe">
            <div class="name">
                <h1>JEaLiFe</h1>
            </div>
            <span class="domains">
                Web developper <br> Photographer
            </span>
            <div class="icons flex gap">
                <a class="txt-link" href="https://github.com/jealife"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class='bx bxl-github'></i></a>
                <a class="txt-link"
                    href="https://www.instagram.com/jealife_pictures/"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class='bx bxl-instagram'></i>
                </a>
                <!-- <a class="txt-link"
                href="https://www.linkedin.com/in/jean-guylane-memiaghe-biteghe-6684b5202/"
                target="_blank" rel="noopener noreferrer"><i class='bx bxl-linkedin'></i></a> -->
            </div>

            <span class="email">
                Email: <a class="txt-link"
                    href="mailto:jealife.pictures@gmail.com">Jealife.pictures@gmail.com</a>
            </span>
            <div class="btn-cv">
                <a href="assets/images/JEaLiFe·.jpg" download target="_blank"
                    rel="noopener noreferrer"
                    class="txt-link">Télécharger mon CV
                </a>
            </div>
        </div>

    </div>

    <!-- Section compétences -->
    <div class="skills-section blur" data-aos="zoom-in-up" data-aos-delay="100"
        data-aos-duration="800" data-aos-easing="ease-in-out" >
        <div class="skills-bar-title">
            <h2 class="txt-link">Compétences</h2>
        </div>
        <div class="skills">
            <div class="card flex  two" data-aos="zoom-in-up"
                data-aos-delay="200"
                data-aos-duration="800" data-aos-easing="ease-in-out">
                <div class="top-card">
                    <div class="icon">
                        <i class='bx bx-code-curly'></i>
                    </div>
                    <div class="card-title">
                        <h2 class="uppercase">Web</h2>
                    </div>
                    <div class="card-description">

                        <div class="skills-level-web">
                            <div class="progress-container">
                                <p>HTML</p>
                                <div class="progress-bar">
                                    <span style="width: 65%"></span>
                                </div>
                            </div>
                            <div class="progress-container">
                                <p>CSS</p>
                                <div class="progress-bar">
                                    <span style="width: 65%"></span>
                                </div>
                            </div>
                            <div class="progress-container">
                                <p>JAVA</p>
                                <div class="progress-bar">
                                    <span style="width: 30%"></span>
                                </div>
                            </div>
                            <div class="progress-container">
                                <p>PHP</p>
                                <div class="progress-bar">
                                    <span style="width: 15%"></span>
                                </div>
                            </div>
                            <div class="progress-container">
                                <p>DART</p>
                                <div class="progress-bar">
                                    <span style="width: 25%"></span>
                                </div>
                            </div>
                            <div class="progress-container">
                                <p>JS</p>
                                <div class="progress-bar">
                                    <span style="width: 20%"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card flex flex-column" data-aos="zoom-in-up"
                data-aos-delay="300"
                data-aos-duration="800" data-aos-easing="ease-in-out">
                <div class="top-card">
                    <div class="icon">
                        <i class='bx bxs-camera'></i>
                    </div>

                    <div class="card-title">
                        <h2 class="uppercase">Photography</h2>
                    </div>

                    <div class="card-description">
                        <div class="skills-level-photo">
                            <div class="progress-container">
                                <p>Adobe Express</p>
                                <div class="progress-bar">
                                    <span style="width: 65%"></span>
                                </div>
                            </div>
                            <div class="progress-container">
                                <p>Photoshop</p>
                                <div class="progress-bar">
                                    <span style="width: 65%"></span>
                                </div>
                            </div>
                            <div class="progress-container">
                                <p>Lightroom</p>
                                <div class="progress-bar">
                                    <span style="width: 30%"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
