
<div class="infos-section blur infos-section-home" id="Accueil"
    data-aos="zoom-in-up" data-aos-delay="100"
    data-aos-duration="800" data-aos-easing="ease-in-out">
    <div class="infos  container-flex-column">
        <img class="me" src="assets/images/JEaLiFe·.jpg" width="185px"
            height="185px" alt="jean Guylane Memiaghe">
        <div class="name">
            <h1>JEaLiFe</h1>
        </div>
        <span class="domains">
            Web developper <br> Photographer
        </span>
        <div class="icons flex gap">
            <a class="txt-link" href="https://github.com/jealife"
                target="_blank"
                rel="noopener noreferrer">
                <i class='bx bxl-github'></i></a>
            <a class="txt-link"
                href="https://www.instagram.com/jealife_pictures/"
                target="_blank"
                rel="noopener noreferrer">
                <i class='bx bxl-instagram'></i>
            </a>
        </div>

        <span class="email">
            Email: <a class="txt-link"
                href="mailto:jealife.pictures@gmail.com">Jealife.pictures@gmail.com</a>
        </span>
        <div class="btn-cv">
            <a href="assets/images/JEaLiFe·.jpg" download target="_blank"
                rel="noopener noreferrer"
                class="txt-link">Télécharger mon CV
            </a>
        </div>
    </div>

</div>

<!-- Section services -->
<div class="services-section blur" data-aos="zoom-in-up" data-aos-delay="100"
    data-aos-duration="800" data-aos-easing="ease-in-out">
    <div class="services-bar-title">
        <h2 class="txt-link">Services</h2>
    </div>
    <div class="services-items"  data-aos="zoom-in-up"
    data-aos-delay="300"
    data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="card flex  two" >
            <div class="top-card">
                <div class="icon">
                    <i class='bx bx-code-curly'></i>
                </div>
                <div class="card-title">
                    <h2 class="uppercase">Developpement Web</h2>
                </div>
                <div class="card-description">

                </div>
            </div>
        </div>
        <div class="card flex flex-column">
            <div class="top-card">
                <div class="icon">
                    <i class='bx bx-mobile-alt'></i>
                </div>

                <div class="card-title">
                    <h2 class="uppercase">Developpemnt Mobile</h2>
                </div>

                <div class="card-description">

                </div>
            </div>
        </div>
        <div class="card flex  two" >
            <div class="top-card">
                <div class="icon">
                    <i class='bx bx-vector'></i>
                </div>
                <div class="card-title">
                    <h2 class="uppercase">Création de Logo</h2>
                </div>
                <div class="card-description">

                </div>
            </div>
        </div>
        <div class="card flex flex-column" >
            <div class="top-card">
                <div class="icon">
                    <i class='bx bx-camera'></i>
                </div>

                <div class="card-title">
                    <h2 class="uppercase">Séance Shooting</h2>
                </div>

                <div class="card-description">

                </div>
            </div>
        </div>
        
    </div>
</div>
