<div class="services-section blur" data-aos="zoom-in-up" data-aos-delay="100"
    data-aos-duration="800" data-aos-easing="ease-in-out">
    <div class="services-bar-title">
        <h2 class="txt-link">Services</h2>
    </div>
    <div class="services-items"  data-aos="zoom-in-up"
    data-aos-delay="300"
    data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="card flex  two" >
            <div class="top-card">
                <div class="icon">
                    <i class='bx bx-code-curly'></i>
                </div>
                <div class="card-title">
                    <h2 class="uppercase">Developpement Web</h2>
                </div>
                <div class="card-description">

                </div>
            </div>
        </div>
        <div class="card flex flex-column">
            <div class="top-card">
                <div class="icon">
                    <i class='bx bx-mobile-alt'></i>
                </div>

                <div class="card-title">
                    <h2 class="uppercase">Developpemnt Mobile</h2>
                </div>

                <div class="card-description">

                </div>
            </div>
        </div>
        <div class="card flex  two" >
            <div class="top-card">
                <div class="icon">
                    <i class='bx bx-vector'></i>
                </div>
                <div class="card-title">
                    <h2 class="uppercase">Création de Logo</h2>
                </div>
                <div class="card-description">

                </div>
            </div>
        </div>
        <div class="card flex flex-column" >
            <div class="top-card">
                <div class="icon">
                    <i class='bx bx-camera'></i>
                </div>

                <div class="card-title">
                    <h2 class="uppercase">Séance Shooting</h2>
                </div>

                <div class="card-description">

                </div>
            </div>
        </div>
        
    </div>
</div>